.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  background-image: url(https://images.unsplash.com/photo-1597200381847-30ec200eeb9a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80);
  BACKGROUND-IMAGE: center;
  background-repeat: NO-REPEAT;
  max-height: 500px;
  background-size: cover;
  image-orientation: 100px;
  background-position: center center;
}
.card-body {
  margin: auto;
  text-align: center;
  justify-content: center;
}
img {
  margin: auto;
}
#cityname {
  width: 230px;
  margin: auto;
}
button {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin-top: 10px;
}
.liststyle {
  width: 200px;
  text-align: center;
  justify-content: center;
  margin: auto;
}

#Icon {
  margin: auto;
}

img {
  max-height: 50px;
margin-left: 10px;
}
.list-group {
  width: 20%;
}
.card1 {
  width: 48%;
  display: flex;
  margin-left: 191px;
}
.row2 {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card2 {
  justify-content: space-between;
  flex: 0 1 18%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#Icon {
  max-height: 50px;
  max-width: 50px;
}


button:hover,
button:focus { 
  background-color: #16437E;
  color: #ffffff;
}

